@import '@theme/colors.module.scss';
@import '@theme/viewport.scss';
@import '@theme/common.module.scss';
@import '@theme/shadow.module.scss';

.counter {
    &.horizontal {
        @include flex-model(row, center, center, 0.5rem);
        > svg {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
    &.vertical {
        @include flex-model(column, flex-start, flex-start, 0);
        border-radius: 10px;
        background-color: $B2;
        border: 1px solid $SilveringGray;
    }

    > button {
        padding: 0.2rem;
        @include flex-model(row, center, center, 0);
        height: 40px;
        width: 40px;
        cursor: pointer;
        > small {
            font-size: 1.2rem;
        }
        &.decrement {
            border-radius: 0 0 10px 10px;
            border-top: 1px solid $SilveringGray;
        }
        &.increment {
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid $SilveringGray;
        }
    }
    > .value-display {
        @include flex-model(row, center, center, 0);
        height: 40px;
        width: 40px;
        > input {
            width: 40px;
            height: 40px;
            text-align: center;
            padding-left: 0;
            outline: none;
            &:focus {
                outline: none;
                border: none;
            }
        }
    }
}
