@import '@theme/colors.module.scss';
@import '@theme/viewport.scss';
@import '@theme/common.module.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: '--font-poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $B0;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    user-select: none;
    svg {
        overflow: inherit;
    }
    &.menu-opened {
        overflow: hidden;
        filter: blur(1px);
    }
}
.index {
    &.blur {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    border: none;
}
input,
textarea {
    padding-left: 2.3rem;
    font-size: 1rem;
    font-family: '__Poppins_e04c4e', '__Poppins_Fallback_e04c4e';
    &::placeholder {
        font-family: '__Poppins_e04c4e', '__Poppins_Fallback_e04c4e';
    }
}
