@import '@theme/colors.module.scss';
@import '@theme/viewport.scss';
@import '@theme/common.module.scss';
@import '@theme/shadow.module.scss';

.tooltip-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    pointer-events: none;
    font-size: 12px;
    font-weight: 400;
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.3rem;

    &.open {
        visibility: visible;
        opacity: 1;
        bottom: 140%;
    }

    &.right {
        left: 135%;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }

    &.right.open {
        visibility: visible;
        opacity: 1;
    }
}

.tooltip-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    &.right {
        top: 50%;
        left: -8px;
        transform: translateY(-50%) rotate(90deg);
    }
}
